[package]
name = "lopdf"
version = "0.26.0"
authors = ["Junfeng Liu <china.liujunfeng@gmail.com>", "Emulator <emulator@hotmail.it>"]
homepage = "https://github.com/J-F-Liu/lopdf"
documentation = "https://docs.rs/crate/lopdf/"
repository = "https://github.com/J-F-Liu/lopdf.git"
license = "MIT"
readme = "README.md"
description = "A Rust library for PDF document manipulation."
categories = ["text-processing"]
keywords = ["pdf", "editing", "manipulation", "merge"]
edition = "2018"

[dependencies]
pom = { version = "^3.2", optional = true }
time = "^0.2"
flate2 = "^1.0"
linked-hash-map = "^0.5"
dtoa = "^0.4"
itoa = "^0.4"
encoding = "^0.2"
image = { version = "^0.23", optional = true }
chrono = { version = "^0.4", optional = true }
log = "^0.4"
rayon = { version = "^1.4", optional = true }
nom = { version = "^6.0", optional = true }
weezl = "0.1.4"

[features]
default = ["chrono_time", "pom_parser"]
chrono_time = ["chrono"]
embed_image = ["image"]
nom_parser = ["nom"]
pom_parser = ["pom"]

[[example]]
name = "add_barcode"
required-features = ["pom_parser"]

[badges]
travis-ci = { repository = "J-F-Liu/lopdf" }
