[package]
authors = [
    "Junfeng Liu <china.liujunfeng@gmail.com>",
    "Emulator <emulator@hotmail.it>",
]
categories = ["text-processing"]
description = "A Rust library for PDF document manipulation."
documentation = "https://docs.rs/crate/lopdf/"
edition = "2021"
homepage = "https://github.com/J-F-Liu/lopdf"
keywords = ["pdf", "editing", "manipulation", "merge"]
license = "MIT"
name = "lopdf"
readme = "README.md"
repository = "https://github.com/J-F-Liu/lopdf.git"
version = "0.32.0"

[dependencies]
chrono = { version = "^0.4", optional = true, features = [
    "std",
    "clock",
], default-features = false }
encoding_rs = "0.8.32"
flate2 = "^1.0"
image = { version = "^0.24", optional = true }
itoa = "^1.0"
linked-hash-map = "^0.5"
log = "^0.4"
md5 = "0.7.0"
nom = { version = "^7.1", optional = true }
pom = { version = "^3.2", optional = true }
rayon = { version = "^1.6", optional = true }
serde = { version = "1.0", features = ["derive"], optional = true }
time = { version = "^0.3", features = ["formatting", "parsing"] }
tokio = { version = "1", features = ["fs", "io-util"], optional = true }
weezl = "0.1"

[dev-dependencies]
tempfile = "3.3"
serde_json = "1.0"
clap = { version = "4.0", features = ["derive"] }
shellexpand = "3.0"
env_logger = "0.10"

[features]
chrono_time = ["chrono"]
default = ["chrono_time", "nom_parser", "rayon"]
embed_image = ["image"]
nom_parser = ["nom"]
pom_parser = ["pom"]
serde = ["dep:serde"]
async = ["tokio/rt-multi-thread", "tokio/macros"]

[[example]]
name = "add_barcode"
required-features = ["pom_parser"]

[[example]]
name = "extract_toc"
required-features = ["serde"]

[[example]]
name = "extract_text"
required-features = ["serde"]

[[example]]
name = "print_annotations"
required-features = ["default"]

[[example]]
name = "rotate"
required-features = ["nom_parser"]

[[test]]
name = "modify"
required-features = ["pom_parser"]

[badges]
travis-ci = { repository = "J-F-Liu/lopdf" }
